.table-responsive{
	overflow-x: auto;
}

.tab-content{
	margin-top: 20px;
}

.table-main{
	background: #fff;
	margin: 0;
	border-radius: 8px 8px 0 0 ;
	box-shadow: -0.261px 2.989px 8px 0px rgba(15, 114, 215, 0.2);

	th{
		text-transform: uppercase;
		border-top: 0;
	    border-bottom: 2px solid #f7f7f7 !important;
		&:first-child{ 
			text-align: center;
		}
	}  
	td{
		border-width: 0; 
		&:first-child{
			text-align: center;
		}
		&.hiddenRow{
			padding: 0;
		}
		[data-toggle="dropdown"]{
			color: $primary-color;
			opacity: 0;
		}
	}
	tr{
		transition:all .2s linear;
		&.accordion-toggle:not(.collapsed){
			background: $primary-color;
			color: #fff;

		}
		&:hover{
			background-color: #f6f6f6;
			[data-toggle="dropdown"]{
				opacity: 1;
			}
		}
	}
	.accordian-body{
		background-color: lighten($primary-color,52%);
		
		text-align: left;
	}
	  
	.table-details-full{
		padding: 20px 40px;
		label{
			color: #666666; 
		}
		p{
			font-weight: bolder; 
		}
	}
}
