.main-tabs{
	li{
		transition:all .2s ease-out;
		width: 174px;
		.nav-link{
			background: #fcfcfe;
			margin-right: 8px;
			color: #555555;
			border-radius: 8px;
			box-shadow: 0 1px 13px 7px #e9e9e9;
			&[href="#new"]{
				[class^="icon-"], [class*=" icon-"]{
					color: $primary-color;
				}
				.progress-bar{
					background-color:  $primary-color;
				}
			}
			&[href="#done"]{
				[class^="icon-"], [class*=" icon-"]{
					color: $secondry-color;
				}
				.progress-bar{
					background-color:  $secondry-color;
				}
			}
			&[href="#assigned"]{
				[class^="icon-"], [class*=" icon-"]{
					color: #e666fb;
				}
				.progress-bar{
					background-color:  #e666fb;
				}
			}
			&[href="#waiting"]{
				[class^="icon-"], [class*=" icon-"]{
					color: #ff9c00;
				}
				.progress-bar{
					background-color:  #ff9c00;
				}
			}
			&[href="#delayed"]{
				[class^="icon-"], [class*=" icon-"]{
					color: #f5282f;
				}
				.progress{
					background-color: transparent;
				}
			}
		}
		&:last-child .nav-link{
			margin-right: 0;
		} 
		.tab-detail{
			width: 100%;
			display: block;
			font-size: 14px; 
			.number{
				font-size: 40px;
				margin: 0;
			}
			.tab-name{
				font-size: 22px;
				margin-top: 5px;margin-bottom: 0;
			}
			[class^="icon-"], [class*=" icon-"]{
				font-size: 50px; 
			}
		}
		.tab-chart{
			width: 0;
			display: none;
		}
		&.large{
			width: 500px;
			position: relative;
		    z-index: -1;
			&:after {
			    content: '';
			    width: 0;
			    height: 0;
			    border-style: solid;
			    border-width: 11px 12px 0 12px;
			    border-color: #fff transparent transparent transparent;
			    position: absolute;
			    left: 35px;
			    top: 100%;
			}
			a{
				background: #fff;
				color: #000;
			}
			.tab-detail{
				width: 170px;
				float: left;
			}
			.tab-chart{
				width: calc(100% - 170px);
				float: left;
				display: block;
			}
		}
	}
	
	
}